tensorflow_gpu~=1.15.4 # Note that for just inference, you can use TF 2.* too.
ufal.chu_liu_edmonds
ufal.udpipe>=1.3,<2
# For the Czech PDT-C models, you also need the `ufal.morphodita>=1.11.2` package.
