name: Compile

on: push

jobs:
  compile:
    name: Compile
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            platform: linux-gcc CXX=g++-12
          - os: ubuntu-24.04
            platform: linux-gcc CXX=g++-13
          - os: ubuntu-24.04
            platform: linux-gcc CXX=g++-14
          - os: ubuntu-24.04
            platform: linux-clang CXX=clang++-16
          - os: ubuntu-24.04
            platform: linux-clang CXX=clang++-17
          - os: ubuntu-24.04
            platform: linux-clang CXX=clang++-18
          - os: ubuntu-24.04
            platform: linux-gcc
            container: quay.io/pypa/manylinux_2_28_x86_64
          - os: windows-2022
            platform: win-vs-32
          - os: windows-2022
            platform: win-vs-64
          - os: windows-2025
            platform: win-vs-32
          - os: windows-2025
            platform: win-vs-64
          - os: macos-13
            platform: macos-clang-64
            c_flags: -Wno-deprecated-declarations
          - os: macos-14
            platform: macos-clang-arm64
            c_flags: -Wno-deprecated-declarations

    steps:
      - uses: actions/checkout@v3

      - if: startsWith(matrix.os, 'windows')
        name: Windows - Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ endswith(matrix.platform, '-32') && 'x86' || 'x64' }}

      - if: startsWith(matrix.os, 'windows')
        name: Windows - Install make
        run: choco install --no-progress -y make

      - name: Compile src
        run: make PLATFORM=${{ matrix.platform }} -k -C src full
        env:
          C_FLAGS: $(treat_warnings_as_errors) ${{ matrix.c_flags }}

      - name: Compile tests
        run: make PLATFORM=${{ matrix.platform }} -k -C tests all
